
<ul>
  <li>Date Visited: <a href="/places/<%= @place["id"] %>"><%= @place["name"] %></a></li>
  <li>Description: <%= @entry["description"] %></li>
</ul>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %> Places</a></p>

  <button>Submit</button>
</form>